# /usr/lib/systemd/system/usb-gadget.service

[Unit]
Description=RPi0 USB Gadget
After=getty.target
Wants=local-fs.target network.target getty.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/usb-gadget-init start
ExecStop=/usr/bin/usb-gadget-init stop
TimeoutSec=15
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=usb-gadget.service


[Install]
WantedBy=multi-user.target
